body{
    margin: 0;
    font-family: 'Gilroy-Bold', sans-serif;
    font-family: 'Gilroy-Medium', sans-serif;
    background-color: #FFF; ;
}
h1{
    margin: 0;
}
.for_all_blocks{
    width: 1274px;
    margin-left: auto;
    margin-right: auto;  
}
.header{
width: 1274px;
display: flex;
margin-left: auto;
margin-right: auto;
justify-content: space-around;
gap: 150px;
}
.header_left{
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 100px;
    align-items: center;
    background-color: #FFF;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 50px;
    
}
.header_right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:14px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.header_right_text{
    display: flex;
align-items: center

}

.header_style{
color: #000;
font-family: Gilroy-Medium;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}
.intro{
    margin-top: 164px;
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 1274px;
    height: 536px;
    margin-left: auto;
    margin-right: auto;

}
.intro_upper_title{

}
.intro_title{
color: #000;
width: 522px;
height: 222px;
font-family: Gilroy-Bold;
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.intro_discription{
color: #888;
width: 466px;
height: 48px;
font-family: Gilroy-Medium;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 17px;
}
.intro_button{
width: 140px;
height: 50px;
color:  #FFF;
display: inline-flex;
justify-content: center;
align-items: center;
font-family: Gilroy-Bold;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;

border-radius: 50px;

background: #F25822;
cursor: pointer;
border: none;

}
.intro_button-wrapper{
display: flex;


gap: 20px;
margin-top: 37px;
}
.logos{
    
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-left: auto;
    margin-right: auto;
}
.after_logos{
    margin-left: 375px;
    margin-top: 94px;
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 1274px;
    height: 536px;
    margin-left: auto;
    margin-right: auto;
}
    .after_logos_title{
        color: #000;
        
        font-family: Gilroy-Bold;
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        }

.after_logos_button{
    margin-top: 35px;
    width: 140px;
    height: 50px;
    color:  #FFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    border-radius: 50px;
    
    background: #F25822;
    cursor: pointer;
    border: none;
    
    }
.block{
    
    background: #FAFAFA;
    margin-top: 100px;
    display: flex;
    justify-content:space-evenly; 
    gap: 30px;
}
  

.block_icon{
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    margin-bottom: 25px;

    }
.block_1{
    padding: 35px 31px 30px 40px;
    display: flex;
    flex-direction: column;
    
    flex-shrink: 0;
    border: 2px solid black;
    
}

.block_head{
color: #000;
font-family: Gilroy-Bold;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 17px;
}
.block_text{
width: 310px;

flex-shrink: 0;
color: #666;
font-family: Gilroy-Regular;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 150%;
margin-bottom: 25px;
}
.midlle{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 92px;
    gap:19px;
   
}
.midlle_simple_text{
    width: 682px;
    height: 48px;
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */   
    
    
}
.block_greed{
    
    background: #FAFAFA;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 9px;
    justify-items: center;
    
    
}
.block_1_greed{
    padding: 35px 31px 30px 40px;
    display: flex;
    flex-direction: column;

    
    flex-shrink: 0;
    
    border: 2px solid black;
    
    
}
.block_icon_greed{
   
    flex-shrink: 0;
    margin-bottom: 25px;

    }
    .block_2_greed{
        
        
        display: flex;
        flex-direction: column;
        
        flex-shrink: 0;
        padding: 40px,30px,25px,31px;  
       
        
        align-items: center;
    }
    .block_head_2{
        margin-bottom: 22px;
    }
    .block_text_2{
        text-align: center;
        margin-bottom: 39px;
    }
    .block_greed_2{
        margin-top: 54px;
    }